

.button {
    margin-top: 70px;
    text-align: center;
    padding: 4%;
    display: inline;

}

.header {
    justify-content: space-between;
    padding: 10px;
    background: #0d1131;
}
.button a{
    font-family: Monospaced;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    padding: 20px 50px;
    border-radius: 30px;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    text-decoration: none;
    color: #fff;
    background-position: 100% 0;
    background-size: 200% 200%;
    display: inline-block;
    font-weight: 500;
    transition: .5s;
}
.button a:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

.pop_up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.pop_up.active {
    display: block;
}

.pop_up_container{
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    margin: auto;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}
.pop_up_body p {
    font-size: 28px;
    font-family: Monospaced;
    font-weight: 600;
    color: black;
    margin-bottom: 40px;
}

.pop_up_body input {
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-family: Monospaced;
    font-weight: 500;
    font-size: 18px;
    color: gray;
}
.pop_up_body button {
    cursor: pointer;
    display: block;
    width: 300px;
    margin: 60px auto 0px auto;
    padding: 20px 0px;
    font-family: Monospaced;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: #4933f5;
}
.pop_up_close {
    position: absolute;
    top:15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}

.btn_group {
    display: flex;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.col_main{
    width: 60%;
    float: left;
    padding: 3% 3%;
}

.col_sidebar {
    width: 40%;
    float: right;
}
.balance {
    padding-left: 35%;
    padding-top: 3%;
}
.rect_shape {
    width: 250px;
    height: 50px;
    background-color: #4933f5;
    border-radius: 15%;
    display: flex;
    align-items: center;
}

.balance_text {
    padding-left: 7%;
}

.balance_num {
    padding-left: 15%;
}

.list {
    background-color: #4933f5;
}
li {

}



